
.FACE{
    width: 59PX;
    height: 40PX;
    border: 2PX solid black;
    TOP: 244PX;
    LEFT: 70PX;
    POSITION: ABSOLUTE;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: transparent;
  }

.bodyy{
	top: -86px;
  left: 466px;
  position: relative;
}

.sof div{
	width:50px;
	height: 50px;
	background: transparent;

	position: absolute;
}

.sof div::before{
    content: "";
    width: 6px;
    height: 8px;
    border: 2px solid white;
    position: absolute;
    border-color: black black transparent transparent;
    border-radius: 50%;
    transform: rotate(-45deg);

    
}
.sof div::after{
	content: "";
    width: 6px;
    height: 8px;
    border: 2px solid white;
    position: absolute;
    border-color: black black transparent transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    left: 9px;
}
.sof1{
	top: 200px;
    left: 97px;
    transform: rotate(4deg);
}
.sof2{
	top: 213px;
    left: 107px;
    transform: rotate(36deg);
}

.sof3{
	
    top: 229px;
    left: 114px;
    transform: rotate(58deg);

}

.sof4{
	
    top: 248px;
    left: 114px;
    transform: rotate(80deg);

}
.sof5{
	    top: 260px;
    left: 104px;
    transform: rotate(113deg);

}
.sof6{
	
        top: 272px;
    left: 90px;
    transform: rotate(133deg);

}
.sof7{
	
   top: 273px;
    left: 73px;
    transform: rotate(160deg);

}
.sof8{
	
       top: 269px;
    left: 55px;
    transform: rotate(182deg)

}
.sof9{
	
  top: 257px;
    left: 43px;
    transform: rotate(207deg);

}
.sof10{
	
   top: 241px;
    left: 37px;
    transform: rotate(234deg);

}
.sof11{
	top: 223px;
    left: 37px;
    transform: rotate(255deg);
}
.sof12{
	top: 208px;
    left: 46px;
    transform: rotate(282deg);
}
.sof13{
	top: 196px;
    left: 61px;
    transform: rotate(305deg);
}
.sof14{
	top: 195px;
    left: 80px;
    transform: rotate(335deg);
}


.RAS DIV{
  width: 100PX;
  height: 100PX;
  
  position: absolute;
  transform: rotate(180DEG);

}
.RAS div::before{
    content: "";
    width: 5px;
    height: 8px;
    border: 2px solid black;
    position: absolute;
    border-color: black black transparent transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    left: -8px;
  }




.RAS div::after{
    content: "";
    width: 5px;
    height: 8px;
    border: 2px solid black;
    position: absolute;
    border-color: black black transparent transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    
}

.sof15{
     top: 150px;
    left: -20px;
}

.sof16{
     top: 150px;
    left: 2px;
}

.sof17{
    top: 150px;
    left: 25px;
}


.left::after{
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  background: black;
  border-radius: 50%;
  left: 1.5px;
  top: 1.5px;
  }
.right::before{
  
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  background: black;
  border-radius: 50%;
 left: 1.5px;
  top: 1.5px;
}

.left{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
 left: 112px;
    top: 253px;

}
.right{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 81px;
  top: 253px;

}


.fm::before{
    content: "";
    width: 9px;
    height: 8px;
    border: 2px solid black;
    position: absolute;
    border-color: black transparent transparent transparent;
    border-radius: 50%;
    transform: rotate(-207deg);
    left: -1px;

    
}
.fm::after{
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid black;
    position: absolute;
    border-color: black transparent transparent transparent;
    border-radius: 50%;
    transform: rotate(207deg);
    left: 9px;
}

.fm{
  position: absolute;
  left: 92px ;
  top: 261px;
}

.lsa{
  width: 2.5px;
    height: 4px;
    border: 2px solid #060606;
    position: absolute;
    border-radius: 11px;
    border-top-color: transparent;
    left: 99px;
    
    top: 270px
}

.nif{
 width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    left: 100px;
    background: #060606;
    top: 265px;

  }


  .LWDN1{
    width: 4PX;
    height: 10PX;
    background: black;
    position: absolute;
    transform: skew(25deg);
    border-bottom-left-radius: 2PX;
    border-top-right-radius: 2PX;
    left: 134px;
    top: 244px;
  }

  .LWDN2{
    width: 4PX;
    height: 10PX;
    background: black;
    position: absolute;
    transform: skew(-25deg);
    border-bottom-right-radius: 2PX;
    border-top-left-radius: 2PX;
    left: 65px;
    top: 244px;  }

.KHR{
  background: rebeccapurple;
}


.RJL::before {
      content: "";
    width: 2.5px;
    height: 8px;
    border: 2px solid #060606;
    position: absolute;
    border-radius: 11px;
    border-top-color: transparent;
    left: 126px;
    top: 285px;
    transform: rotate(116deg);
}
.RJL::after{
    content: "";
    width: 2.5px;
    height: 8px;
    border: 2px solid #060606;
    position: absolute;
    border-radius: 11px;
    border-top-color: transparent;
    left: 68px;
    top: 282px;
    transform: rotate(-131deg);
}
.aid{
  position: absolute;
  font-family: sans-serif;

      left: 71px;
    top: 216px;

}

b,i{
   font-size: 11px;
     font-weight: 800;
}

.rl{

    width: 4px;
    height: 16px;
    background: black;
    position: absolute;
    left: 119px;
    top: 313px;
}
.rl2{
    width: 4px;
    height: 20px;
    background: black;
    position: absolute;
    left: 69px;
    top: 308px;
}

.rl3{
    width: 10px;
    height: 6px;
    background: black;
    position: absolute;
    left: 66px;
    top: 325px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

.rl4{
       width: 10px;
    height: 6px;
    background: black;
    position: absolute;
    left: 116px;
    top: 325px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  
